* {font-family: Titillium Web; margin: 0;  padding: 0;  color: #FFF;text-align: center; }

body {overflow-x: hidden; }

.border {border:1px solid red;}
.container-fluid{padding:0 }

#carousel .item {	  padding: 25% 0; }
#carousel .item p{  font-size: 2em;  text-shadow: 1px 2px 1px #000;}

.header {   background-color: #0F6177; text-align: center;  position:fixed; z-index: 1; width: 100%;right:0;  top:0;}
.header .menu{padding:20px 0 0 0;}
.header .dropdown{display: none;}
.header li {  display: inline;  list-style: none; width:100%; margin:0 20px; }
.header a { text-decoration: none;  color:#FFF;  font-size: 1.6em;}


.about{background-color: #2f91dd; padding:10% 0; }
.about a {font-size: 1.4em;color:#000; background: #0F6177; padding:15px 30px; border-radius: 5px; color:#FFF;margin: 10% 0;}
.about .container{text-shadow:1px 2px 1px #000; margin:0px auto; }
.cases{background-color: #107FC9;padding:25% 0;}


/*TEAM*/
.team{background-color: #2f91dd; padding-bottom: 5%}
.team header{padding: 5% 0;}
.team img{border-radius: 50%; width:250px; height: 250px; zoom: 0;}
.team .container {padding: 5% 0 10% 0  }
.team .person i{margin: 0 20px; font-size: 1em; background: #FFF; color:#2f91dd; border-radius: 20px; padding:5px 8px }
.section3{background-color: #0F6177;padding:25% 0;}

/*CONTACT*/
.contact{background:url(../media/header.jpg) no-repeat; background-size: cover; padding:25% 0; margin:0;  color:#FFF;}
.contact header{margin:0 0 50px 0;  text-shadow:1px 2px 1px #000;}
.contact header h1{font-size:2.5em; font-weight: 600; width:100%; text-align: center; }
.contact hr{ width:20%;}
.contact  p {width:100%; text-align: center; font-size: 1.6em;}
.form-contact input[type="text"]{ background-color: #107FC9; color: #FFF; border: 0; padding: 15px; border-radius: 5px; margin: 15px; }
.form-contact textarea{background-color: #107FC9; color: #FFF; border: 0; padding: 15px; border-radius: 5px; margin: 15px;  width: 100%; height: 200px;}
.form-contact input[type="submit"]{background-color:#2f91dd; font-size: 1.4em; border: 0; border-radius: 5px; padding:25px 60px; border-bottom: 3px solid #0F6177; color: #FFF;}
/*.parallax{
  background: url(media/backheader.jpg);
  background-position: 70% 0;
	background-repeat: repeat;
	background-attachment: fixed;
  padding: 7% 0;
  font-size:1.6em;
  text-shadow: 2px 2px 2px #000;
}
*/

footer{background: #000; bottom: 0; color:#FFF;text-decoration: none;}
footer p{margin:0; padding:0;}
footer a{color:blue; }


/**
* QUERIES
*/
@media only screen and (max-width: 480px) {
#carousel .item {	display:none; }
  .menu{display: none}
  .about{padding:20% 0; }
  .header .dropdown{display: block; padding-top: 10px; }
  .submenu ul{  width: 100%;  position: relative;  z-index: 3000;}
  .submenu ul li{ display: block;  color: #FFFFFF;  padding: 15px;}
}
@media only screen and (max-width: 600px) {

}
@media only screen and (max-width: 980px) {
  .social{display: none;}

}
@media only screen and (min-width: 1600px) {


}

