* {font-family: Titillium Web; margin: 0;  padding: 0;  color: #FFF;text-align: center; }

body {overflow-x: hidden;}
.header {   background-color: #2c3e50; text-align: center;  position:fixed; z-index: 1; width: 100%;right:0;  top:0;}
.header li {  display: inline;  list-style: none; widht:100%; margin:0 20px; }
.header a { text-decoration: none;  color:#FFF;  font-size: 1.6em;}


.about{background-color: #1BBC9B; padding:25% 0; }
.about a {font-size: 1.4em;color:#000; background: #0F6177; padding:15px 30px; border-radius: 5px; color:#FFF;margin: 10% 0;}
.services{background-color: #1BA39C;padding:25% 0;}
.contact{background-color: #16A086;padding:25% 0;}
.team{background-color: #0B8389;}
.team header{margin: 50px 0; padding: 0;}
.team img{border-radius: 50%;}
.team .container {padding: 5% 0 10% 0  }
.team .person i{margin: 0 20px; font-size: 1em; background: #FFF; color:#0B8389; border-radius: 15px; padding:5px 8px }
.section3{background-color: #0F6177;padding:25% 0;}


.inner1{
  background: url(media/backheader.jpg);
  background-position: 70% 0;
	background-repeat: repeat;
	background-attachment: fixed;
  padding: 7% 0;
  font-size:1.6em;
  text-shadow: 2px 2px 2px #000;

}
.inner2{
  background: url(media/backheader2.jpg) ;
  background-position: 30% 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
  padding: 7% 0;
  font-size:1.6em;
  text-shadow: 2px 2px 2px #000;
}
.inner3{
  background: url(media/backheader3.jpg) ;
  background-position: 30% 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
  padding: 7% 0;
  font-size:1.6em;
  text-shadow: 2px 2px 2px #000;
}

footer{background: #000; bottom: 0; color:#FFF}
footer a{color:red; text-decoration: none;}
